/* Footer styles */
.footer-container {
    background-color: rgb(26, 24, 24);
    padding: 20px;
    text-align: center;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:white;
  }
  
  .footer-left img {
    max-width: 200px; /* Adjust the image size as needed */
  }
  
  .footer-right ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .footer-right li {
    display: inline-block;
    margin-right: 10px; /* Add spacing between the icons */
  }
  
  .footer-right li:last-child {
    margin-right: 0; /* Remove spacing from the last icon */
  }
  
  .footer-right a {
    text-decoration: none;
    color: blue; /* Change the color of the icons to blue */
  }
  
  .footer-right h3 {
    font-size: 16px;
    margin-bottom: 10px;
    color:white;
  }
  
  footer p {
    font-size: 14px;
    margin: 10px 0;
    
  }
  