/* JobCard.css */
.job-card {
  display: flex;
  flex-direction: column;
  border-radius: 9px;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  padding: 20px;
  margin-bottom: 20px;
  position: relative; /* Add this for positioning */
 
}
.company-logo {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 60px; /* Adjust the size as needed */
  height: auto; /* Maintain aspect ratio */
}
.job-title {
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
}

.company-name {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 600;
}

.company-location {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.location-image {
  width: 20px;
  height: 18px;
  margin-right: 5px;
  padding-left: 20px;
}

.location-text {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
  margin: 0;
}

.salary-range,
.experience {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-weight: 600;
  margin-top: 10px;
  padding-left: 20px;
}

.apply-save-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.apply-button,
.save-button {
  padding: 5px 30px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}
